*{
    margin:0;
    padding:0;
}
.hero{
    margin:0 auto;
    max-width: 1440px;
    height:698px;
    background-image:url(../image/Hero-bg.png);
}
nav{
 
    border:none;
     max-width:1140px;
  
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
nav h1{
    margin-top: 40px;
    font-size:34px;
    color:#4E47FF;
}
.btm{
    margin-top: 40px;
  border:none;
  padding:12px 30px;
  color:white;
  background-color: #4E47FF;
  font-size:16px;
  border-radius:8px;
    
}
div h2{
    font-size: 65px;
    color:#252432;
}
.para{
    width:805px;
    text-align: center;
    height:237px;
margin:0 auto;
margin-top: 220px;

}
.btm2{
    margin-top:30px;
    padding:10px 25px;
    border-radius: 10px;
    border:none;
    background-color: #4E47FF;
    color:white;
    font-size:16px;
}
.hero2{
margin:auto;
    max-width: 1440px;
    height:328px;
    display: flex;
     
    justify-content: space-between;
}
.hero2 h3{
    font-size: 42px;
    color:#252432;

}
.hero2 p{
    margin-top: 20px;
    font-size:24px;
    color:#252432;
}
.para2{
    
width:500px;
height:200px;
margin-top: 140px;
margin-left: 100px;
}
.btm3{
background-color: #4E47FF;
padding:10px 30px;
border-radius:8px;
margin-top: 30px;
color:white;
}
.img{
   width:400px;
   height:328px;
   border:5px red;
   border-radius: 50%;
     margin-top: 100px;
margin-right: 100px;
 
}


  .stats-wrapper {
      background-color: #f5f8ff;
      padding: 60px 20px;
      display: flex;
      
      justify-content: center;
      align-items: center;
      margin-top:80px;
    }

    .stats-container {
      background-color: #e8eaff;
      border-radius: 16px;
      padding: 40px;
      
      text-align: center;
      width: 100%;
      max-width: 900px;
    }

    .stats-container h2 {
      font-size: 38px;
      color: #1e1e1e;
      font-weight: 600;
      margin-bottom: 30px;
    }

    .stats {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 20px;
    }

    .stat {
      flex: 1;
      min-width: 100px;
    }

    .stat h3 {
      font-size: 80px;
      color: #4a4aff;
      font-weight: bold;
      font-weight: bold;
      margin: 0;
    }

    .stat p {
      margin-top: 6px;
      font-size:20px;
      color: #555;
    }
